html,
body
{
    margin: 0;
    padding: 0;
}
nav > ol
{
    margin: 0;
    display: flex;
    background-color: aqua;
    

}

.profile{
    width: 400px;
    background-color: rgb(255, 147, 147);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#name{
    margin: 0 auto auto 0;
}
#profile-picture{
    max-width: 100px;
    animation: rotat 1s infinite;
}


@keyframes rotat {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
